<section id="section-event-1" data-anchor="event-1" class="section event-section">
  <div class="content-column">
    <h2 class="slide-title">
      <span class="title-text">Personal Democracy Forum CEE</span>
      <span class="shadow"></span>
    </h2>

    <div class="event-images top-bottom">
      <div class="event-image-1">
        
        <div class="iframe-container">
          <iframe width="" height="" src="https://www.youtube.com/embed/KroPhbkmfdM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="event-image-link">
          <a target="_blank" href="https://epf.org.pl/en/events/personal-democracy-forum-2017/">Website</a>
           <span class="divider">|</span>
           <a target="_blank" href="https://transparencee.org/news/diagnosing-democratic-system-went-wrong-personal-democracy-forum-cee-2017/">Article</a>
           <span class="divider">|</span>
           <a target="_blank" href="https://www.youtube.com/watch?v=0zv70h93Jd4&list=PLa_8n5BEWSblTK5MaZAn6gW6_dJTgF88g">Watch sessions</a>
          <!-- <img src="images/arrow-left.svg" class="links-arrow" alt=""> -->
        </div>
      </div> 
      <div class="event-image-2">
        <img src="images/event-3-2.jpg" alt="">

        <div class="event-image-link">
          {% include photos-PDF-2017.html %}
          <img src="images/arrow-right.svg" class="links-arrow" alt="">
        </div>
      </div>
    </div>
    
  </div>
</section>