<section id="section-event-2" data-anchor="event-2" class="section event-section">

  <div class="content-column">
    <h2 class="slide-title">
      <span class="title-text">Personal Democracy Forum Ukraine</span>
      <span class="shadow"></span>
    </h2>

    <div class="event-images">
      <div class="event-image-1">
        <img src="images/PersonalDemocracyForumUA/IMG_0309.jpg" alt="">
        <div class="event-image-link">
          <a target="_blank" href="http://pdfukraine.org/">Website</a>
           <span class="divider">|</span>

          {% include photos-1.html %}
          <img src="images/arrow-left.svg" class="links-arrow" alt="">
        </div>
      </div> 
      <div class="event-image-2" style="z-index: 20">
        <div class="iframe-container">
          <iframe width="" height="" src="https://www.youtube.com/embed/D67wjHtRIZ4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="event-image-link color-links-box">
          <span>
            Watch sessions: <a target="_blank" href="https://www.facebook.com/cn.opora/videos/10154889359375108/">Day 1</a> / <a target="_blank" href="https://www.facebook.com/cn.opora/videos/10154889738025108/">Day 2</a>
          </span>
          <span class="divider">|</span>
          <a target="_blank" href="https://transparencee.org/news/will-technology-bring-democracy-pdfua-2017/">Read article</a>
        </div>
      </div>
    </div>
  
  </div>

</section>