<section id="section-workshops-overview" data-anchor="workshops-overview" class="section">
  <div class="content-column">
    <h2 class="slide-title">
      <span class="title-text">Workshops' Overview</span>
      <span class="shadow"></span>
    </h2>
    
    <div class="workshops-columns">
      <div class="workshop-column">
        <div class="workshop-row">
          <div class="workshop-date">April 2017 / Gdansk, Poland</div>
          <h3>Data Advocacy and Communication</h3>
          <div class="links">
            
            {% include photos-gdansk.html %}

            <span class="divider">|</span>
            <a target="" href="https://transparencee.org/news/workshop-data-advocacy-summary/">Read overview</a>
          </div>
        </div>

        <div class="workshop-row">
          <div class="workshop-date">May 2017 / Sarajevo, Bosnia and Herzegovina</div>
          <h3>Data Storytelling for change</h3>
          <div class="links">

            {% include photos-sarajevo.html %}

            <span class="divider">|</span>
            <a target="_blank" href="https://transparencee.org/news/turning-data-story-transparencee-workshop-sarajevo/">Read overview</a>
          </div>
        </div>

      </div>
      
      <div class="workshop-column">
        <div class="workshop-row">
          <div class="workshop-date">September 2017 Kyiv, Ukraine</div>
          <h3>Open Data in Action. The best cases to explore</h3>
          <div class="links">
            
            {% include photos-kyiv.html %}

            <span class="divider">|</span>
            <a target="_blank" href="https://transparencee.org/news/open-data-magic-pdf-ukraine/">Read overview</a>
          </div>
        </div>

        <div class="workshop-row">
          <div class="workshop-date">October 2017 Warsaw, Poland</div>
          <h3>Working with Data for Beginners</h3>
          <div class="links">
             {% include photos-warsaw.html %}
            <span class="divider">|</span>
            <a target="_blank" href="https://transparencee.org/news/working-data-beginners/">Read overview</a>
          </div>
        </div>
        
      </div>

    </div>

  </div>
</section>